<!DOCTYPE html>
<html>
<head>
  <title>Private Events</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if logged_in? %>
  <p class="current-user">Currently signed in as <%= link_to current_user.name,
                                                     user_path(current_user) %>.<br>
  <%= link_to "Log out", logout_path, method: "delete" %></p>
<% else %>
  <p><%= link_to "Log in", login_path %></p>
<% end %>

<% flash.each do |message_type, message| %>
  <%= content_tag(:div, message, class: "flash", id: message_type) %>
<% end %>

<%= yield %>

</body>
</html>
