<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Flight <%= @flight.id %> booked</h1>
    <p>
      Dear <%= @passenger.name %>,
      You have successfully booked passage on flight <%= @flight.id %>,
      departing from <%= @flight.departing.name %>,
      and arriving in <%= @flight.arriving.name %>.<br>
    </p>
    <p>
      Takeoff is <%= @flight.takeoff.strftime("%A,%B %e, %Y") %>
      at <%= @flight.takeoff.strftime("%r") %>.
    </p>
    <p>Thank you for your booking!</p>
  </body>
</html>