<h1>Log In</h1>

<%= form_for(:session, url: login_path) do |f| %>
<table>
  <tr>
    <td><%= f.label :email, "E-mail" %></td>
    <td><%= f.text_field :email %></td>
  </tr>
  <tr>
    <td><%= f.label :password %></td>
    <td><%= f.password_field :password %></td>
  </tr>
  <tr>
    <td><%= f.submit "Log in" %></td>
  </tr>
</table>
<% end %>