<h1>Flickr Sidebar App</h1>

<p>Search for a Flickr user's photos:</p>
<p>(If you don't know their user_id, check out <%= link_to "idGettr", "http://idgettr.com/" %>)</p>

<%= form_tag root_path, method: :get do %>
  <%= label_tag :user_id, "User ID" %>
  <%= text_field_tag :user_id %>
  
  <%= label_tag :photo_count, "Photos to Display" %>
  <%= text_field_tag :photo_count, 12 %>
  
  <%= submit_tag "Search" %>
<% end %>

<hr>

<% cache "flickr_sidebar" do %>
  <%= render_flickr(@user_id, @photo_count) %>
<% end %>